
/** PATHWAY COLOR CUSTOMIZATION **/

$primaryNodeColor:#b5f9a7;
$primaryNodeBorder:#1a9900;
$secondaryNodeColor:#b6e2ff;
$secondaryNodeBorder:#166aa2;

$lineThickness: 1px;
$lineThicknessLight: 0.5px;
$lineThicknessThick: 1.5px;
$lineThicknessThicker: 2px;

$nonNodeBoxColor: #ebffe7;

$compartmentBackground: #fbf7f4;
$compartmentBorder:#ffc38b;

.RenderableRect, .RenderableProtein, .RenderableChemical, .RenderableEntity, .ProcessNode{
  fill:$primaryNodeColor;
  stroke:$primaryNodeBorder;
}

.span__RenderableRect, .span__RenderableProtein, .span__RenderableChemical, .span__RenderableEntity, .span__ProcessNode{
  background: $primaryNodeColor;
  padding: 2px;
  &:hover {
    background: lighten($primaryNodeColor,10%);
  }
}

.RenderableComplex, .RenderableEntitySet{
  fill:$secondaryNodeColor;
  stroke-width:$lineThicknessLight;
  stroke: $secondaryNodeBorder;
}

.span__RenderableComplex, .span__RenderableEntitySet{
  background:$secondaryNodeColor;
  padding:2px;
    &:hover {
    background: lighten($secondaryNodeColor,10%);
  }
}

.RenderableEntitySet{
  stroke-width:$lineThicknessThick;
}

.RenderableOverlappedEntitySet {
  stroke: #000;
  stroke-width: 5px;
  fill: #fff;
}

.ProcessNode{
  stroke: $primaryNodeBorder;
  stroke-width:$lineThicknessThicker;
  fill:$nonNodeBoxColor;
}

.RenderableGene{
  stroke:#333;
  fill:none;
}

.RenderableText {
  font-size: 7px;
}

.RenderableCompartment{
  fill:$compartmentBackground;
  stroke:$compartmentBorder;
  stroke-width:$lineThickness;
  fill-opacity: 0.25;
}

.RenderableStroke{
  stroke-width:$lineThickness;
}

.renderableinteraction{
  stroke-width:$lineThicknessThick;
}

.entitysetandmemberlink, .entitysetandentitysetlink{
  stroke-dasharray:5 7;
  stroke-width:$lineThicknessLight;
}

.pathway-sub-reaction-line {
  stroke-width:2px;
  stroke: navy;
}

.EntitySetAndMemberLink {
  stroke-dasharray: 5 7;
}

.EntitySetAndEntitySetLink {
  stroke-dasharray: 5 7;
}

.RenderableNodeText .RenderableNodeTextCell{
  text-align: center;
  height: 100%;
  width: 100%;
  color: #444;
}

.RenderableCompartmentText{
  font-size: 9px;
  line-height: 1.1em;
}

// Undo the effects of the general table css
.RenderableNodeText td{
  padding: none;
}
// Undo the effects of the general table css
.RenderableNodeText tbody{
  line-height: normal;
}

.RenderableNodeText .RenderableNodeTextCell{
  font-size: 10px;
}

.failed-reaction {
  stroke: red;
  stroke-width: 2px;
}

.lof-RenderableProtein, .lof-RenderableChemical, .lof-RenderableEntitySet, .lof-ProcessNode{
  background-color:$primaryNodeColor;
  border: 2px dotted red;
}

.lof-RenderableComplex, .lof-RenderableEntitySet{
  background-color:$secondaryNodeColor;
  border: 2px dotted red;
}

.lof-cell {
  padding: 0px;
}

.node-text-body {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  -webkit-word-break: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}
